<div class="row" ng-if="Athletes != undefined">
    <div class="col-md-8 col-md-offset-1">
        <table class="table table-bordered ">
            <thead>
                <tr>
                    <th>Firstname</th>
                    <th>Lastname</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="Athlete in Athletes">
                    <td>{{ Athlete.firstName }}</td>
                    <td>{{ Athlete.lastName }}</td>
                </tr>
            </tbody>
        </table>
    </div>

</div>